<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ - Laptopshop</title>

  <!-- Google Web Fonts -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap}" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.4/css/all.css}"/>
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{/client/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
  <link th:href="@{/client/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/client/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{/client/css/style.css}" rel="stylesheet">

  <!-- Toast Notification CSS -->
  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css}" rel="stylesheet">
</head>
<body>


  <div th:replace="user/layout/header :: header"></div>


  <div class="container-fluid py-5 mt-5">
    <div class="container py-5">
      <div class="row g-4 mb-5">
        <div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Chi Tiết Sản Phẩm
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="border rounded">
                <a th:href="@{/}">
                  <img th:src="@{${product.image}}"
                       class="img-fluid rounded" alt="Image">
                </a>
              </div>
            </div>
            <div class="col-lg-6">
              <h4 class="fw-bold mb-3">  [[${product.name}]]</h4>
              <p class="mb-3"> [[${product.factory}]]</p>
              <h5 class="fw-bold mb-3">
                <p>[[${T(java.lang.String).format('%,.0f', product.price)}]] vnđ</p>
              </h5>
              <div class="d-flex mb-4">
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star text-secondary"></i>
                <i class="fa fa-star"></i>
              </div>
              <p class="mb-4">
                [[${product.shortDesc}]]
              </p>

              <div th:if="${product.quantity > 0}">
              <form th:action="@{/add-product-to-cart/{id}(id=${product.id})}" method="post" >
                <input class="form-control d-none" type="text" value="${product.id}" name="id" />

                <input class="form-control d-none" type="text" name="quantity"
                       id="cartDetails0.quantity" value="1" />
                <button data-product-id="${product.id}"
                        class="btnAddToCartDetail btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                  <i class="fa fa-shopping-bag me-2 text-primary"></i>
                  Thêm vào giỏ hàng
                </button>
              </form>
              </div>
              <div th:if="${product.quantity == 0}" class="text-danger text-center fw-bold">
                Tạm hết hàng
              </div>

            </div>
            <div class="col-lg-12">
              <nav>
                <div class="nav nav-tabs mb-3">
                  <button class="nav-link active border-white border-bottom-0"
                          type="button" role="tab" id="nav-about-tab" data-bs-toggle="tab"
                          data-bs-target="#nav-about" aria-controls="nav-about"
                          aria-selected="true">Description</button>
                </div>
              </nav>
              <div class="tab-content mb-5">
                <div class="tab-pane active" id="nav-about" role="tabpanel"
                     aria-labelledby="nav-about-tab">
                  <p>
                    [[${product.detailDesc}]]
                  </p>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="row g-4 fruite">
            <div class="col-lg-12">

              <div class="mb-4">
                <h4>Loại sản phẩm</h4>
                <ul class="list-unstyled fruite-categorie">
                  <li th:each="category : ${categoryList}">
                    <div class="d-flex justify-content-between fruite-name">
                      <a th:href="@{/search/category/{id}(id=${category.id})}">
                        <i class="fas fa-apple-alt me-2"></i>
                        <span th:text="${category.name}"></span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Single Product End -->

<div th:replace="user/layout/footer :: footer"></div>

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/client/lib/easing/easing.min.js}"></script>
<script th:src="@{/client/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/client/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/client/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/client/js/main.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js}"></script>
</body>
</html>