<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5" th:fragment="footer">
  <div class="container py-5">
    <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
      <div class="row g-4">




    </div>
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="text-light mb-3">Tại sao lại lựa chọn chúng tôi</h4>
          <p class="mb-4">Cửa hàng điện thoại và phụ kiện uy tín, luôn cam kết chính hãng,
            hỗ trợ tận tâm, bảo hành rõ ràng, trách nhiệm đến cùng vì khách hàng..</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="d-flex flex-column text-start footer-item">
          <h4 class="text-light mb-3">Về chúng tôi</h4>
          <a class="btn-link" th:href="@{/}">About Us</a>
          <a class="btn-link" th:href="@{/}">Contact Us</a>
          <a class="btn-link" th:href="@{/}">Privacy Policy</a>
          <a class="btn-link" th:href="@{/}">Return Policy</a>
          <a class="btn-link" th:href="@{/}">FAQs & Help</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="text-light mb-3">Contact</h4>
          <p>Address: </p>
          <p>Email: thegioividong@gmail.com</p>
          <p>Phone: +0123 4567 8910</p>
          <p>Payment Accepted</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Copyright End -->