<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ViewDetail - User</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<!-- header  -->
<div th:replace="admin/layout/header :: header"></div>

<div id="layoutSidenav">

    <div th:replace="admin/layout/sidebar :: sidebar"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Quản lý loại sản phẩm</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a> </li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
                <div>
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-md-6 col-12 mx-auto">
                                <h1>Thêm loại sản phẩm</h1>
                                <hr/>
                                <form th:action="@{/admin/category/create}" th:object="${category}" method="post" class="row">
                                    <div class="form-group mb-3 col-12 col-md-6">
                                        <label class="form-label">Tên loại sản phẩm:</label>
                                        <input th:field="*{name}" type="text" class="form-control"
                                               th:classappend="${#fields.hasErrors('name')} ? ' is-invalid' : ''">
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    </div>
                                    <div class="col-12 mb-5">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!-- footer -->
        <div th:replace="admin/layout/footer :: footer"></div>

    </div>
</div>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>
